$error: #e54d42;
$success: #68cd86;
$warn: #ffb648;

.ti-icon-check:before {
  content: "\e902";
  font-size: 0.5rem;
}

.ti-icon-close:before {
  content: "✕";
  font-size: 0.5rem;
}

.ti-icon-undo:before {
  content: "↺";
  font-size: 0.5rem;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

input[disabled] {
  background-color: transparent;
}

div.vue-tags-input.disabled {
  opacity: 0.5;

  * {
    cursor: default;
  }
}

.ti-input {
  display: flex;
}

.ti-tags {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  line-height: 1em;
}

.ti-tag {
  background-color: rgb(var(--main));
  color: rgb(var(--black));
  border-radius: 4rem;
  display: flex;
  padding: 1px 8px 2px;
  margin: 2px;
  font-size: .85em;
  min-height: 2rem;

  &:focus {
    outline: none;
  }

  .ti-content {
    display: flex;
    align-items: center;
  }

  .ti-tag-center {
    position: relative;
  }

  span {
    line-height: .85em;
  }

  span.ti-hidden {
    padding-left: 14px;
    visibility: hidden;
    height: 0px;
    white-space: pre;
  }

  .ti-actions {
    margin-left: 2px;
    display: flex;
    align-items: center;
    font-size: 1.15em;

    i {
      cursor: pointer;
    }
  }

  &:last-child {
    margin-right: 4px;
  }

  &.ti-invalid, &.ti-tag.ti-deletion-mark {
    background-color: $error;
  }
}

.ti-new-tag-input-wrapper {
  display: flex;
  flex: 1 0 auto;
  padding: 3px 5px;
  margin: 2px;
  font-size: .85em;

  input {
    flex: 1 0 auto;
    min-width: 100px;
    border: none;
    padding: 0px;
    margin: 0px;
  }
}

.ti-new-tag-input {
  line-height: initial;
}

.ti-autocomplete {
  border-top: none;
  position: absolute;
  width: 100%;
  left: 0;
  top: 110%;
  z-index: 20;
}

.ti-item > div {
  cursor: pointer;
  padding: 3px 6px;
  width: 100%;
}

.ti-selected-item {
  background-color: rgb(var(--main));
  color: #fff;
}
