* {
	box-sizing: border-box;
}

html {
	backface-visibility: hidden;
	text-rendering: geometricPrecision;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background: rgb(var(--white));
	color: rgb(var(--black));; 
}

html,
body,
#app,
 {
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 1;
}

span, p {
	line-height: 1;
}

.field-wrapper {
  transition: border-width .2s, box-shadow .2s ease;
}
.field-wrapper:hover {
  box-shadow: inset 0 0 0 1px rgba(var(--dark), 0.2), 0 0 6px 2px rgba(var(--dark), 0.1);
}
.field-wrapper:focus-within {
  box-shadow: inset 0 0 0 1px rgba(var(--second), 1), 0 0 6px 2px rgba(var(--second), 0.1);
}

.field-wrapper:has(input:-webkit-autofill),
.field-wrapper:has(textarea:-webkit-autofill),
.field-wrapper:has(select:-webkit-autofill) {
  background: rgb(255, 250, 150);
}

/* Также перекрашиваем сам autofill input */
.field-wrapper input:-webkit-autofill,
.field-wrapper textarea:-webkit-autofill,
.field-wrapper select:-webkit-autofill {
  background: rgb(255, 250, 150) !important;
  -webkit-box-shadow: 0 0 0 1000px rgb(255, 250, 150) inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
}

.clickable {
	transition: border-width .2s, box-shadow .2s ease;
}
.clickable:hover {
	cursor: pointer;
  box-shadow: inset 0 0 0 1px rgba(var(--dark), 0.2), 0 0 6px 2px rgba(var(--dark), 0.1);
}
.clickable:focus-within {
  box-shadow: inset 0 0 0 1px rgba(var(--second), 1), 0 0 6px 2px rgba(var(--second), 0.1);
}

.selected {
	box-shadow: inset 0 0 0 1px rgba(var(--second), 1), 0 0 6px 2px rgba(var(--second), 0.1);
}

.selected:hover {
	box-shadow: inset 0 0 0 1px rgba(var(--second), 1), 0 0 6px 2px rgba(var(--second), 0.1);
}




// TURN OFF SCROLL AND CUROURS
// * {
//   cursor: none !important;
//   > * {
//     cursor: none !important;
//   }
//   > *::-webkit-scrollbar {

//     display: none !important;
//   }
// }