body { 
	hr {
		width: 100%;
		height: 1px;
		background: rgba(0,0,0,0.1);
		margin: 0;
		border: none;

		&.absolute {
			position: absolute;
			left: 0;
			top: 0;
		}
	}

	hr.vertical {
		height: 100%;
		width: 1px;
		left: 0;
		top: 0;
		background: rgba(0,0,0,0.1);
		margin: 0;
		border: none;
	}

	// Border Classes - напрямую через box-shadow
	.br-zero { 
		box-shadow: none;
	}
	
	.br-1px { 
		box-shadow: inset 0 1px 0 0 currentColor,
		           inset -1px 0 0 0 currentColor,
		           inset 0 -1px 0 0 currentColor,
		           inset 1px 0 0 0 currentColor;
	}
	
	.br-2px { 
		box-shadow: inset 0 2px 0 0 currentColor,
		           inset -2px 0 0 0 currentColor,
		           inset 0 -2px 0 0 currentColor,
		           inset 2px 0 0 0 currentColor;
	}
	
	/* Border style */
	.br-solid { /* default for box-shadow */ }
	.br-dash { 
		border: 1px dashed currentColor;
		box-shadow: none;
	}
	
	/* Border sides */
	.br-t { 
		box-shadow: inset 0 1px 0 0 currentColor;
	}
	.br-r { 
		box-shadow: inset -1px 0 0 0 currentColor;
	}
	.br-b { 
		box-shadow: inset 0 -1px 0 0 currentColor;
	}
	.br-b-2px { 
		box-shadow: inset 0 -2px 0 0 currentColor;
	}
	.br-b-3px { 
		box-shadow: inset 0 -3px 0 0 currentColor;
	}
	.br-l { 
		box-shadow: inset 1px 0 0 0 currentColor;
	}
	
	/* Border colors с конкретными значениями */
	.br-black {
		&.br-1px { box-shadow: inset 0 0 0 1px rgb(var(--black)); }
		&.br-2px { box-shadow: inset 0 0 0 2px rgb(var(--black)); }
		&.br-t { box-shadow: inset 0 1px 0 0 rgb(var(--black)); }
		&.br-r { box-shadow: inset -1px 0 0 0 rgb(var(--black)); }
		&.br-b { box-shadow: inset 0 -1px 0 0 rgb(var(--black)); }
		&.br-b-2px { box-shadow: inset 0 -2px 0 0 rgb(var(--black)); }
		&.br-b-3px { box-shadow: inset 0 -3px 0 0 rgb(var(--black)); }
		&.br-l { box-shadow: inset 1px 0 0 0 rgb(var(--black)); }
	}
	
	.br-dark {
		&.br-1px { box-shadow: inset 0 0 0 1px rgb(var(--dark)); }
		&.br-2px { box-shadow: inset 0 0 0 2px rgb(var(--dark)); }
		&.br-t { box-shadow: inset 0 1px 0 0 rgb(var(--dark)); }
		&.br-r { box-shadow: inset -1px 0 0 0 rgb(var(--dark)); }
		&.br-b { box-shadow: inset 0 -1px 0 0 rgb(var(--dark)); }
		&.br-b-2px { box-shadow: inset 0 -2px 0 0 rgb(var(--dark)); }
		&.br-b-3px { box-shadow: inset 0 -3px 0 0 rgb(var(--dark)); }
		&.br-l { box-shadow: inset 1px 0 0 0 rgb(var(--dark)); }
	}
	
	.br-main {
		&.br-1px { box-shadow: inset 0 0 0 1px rgb(var(--main)); }
		&.br-2px { box-shadow: inset 0 0 0 2px rgb(var(--main)); }
		&.br-t { box-shadow: inset 0 1px 0 0 rgb(var(--main)); }
		&.br-r { box-shadow: inset -1px 0 0 0 rgb(var(--main)); }
		&.br-b { box-shadow: inset 0 -1px 0 0 rgb(var(--main)); }
		&.br-b-2px { box-shadow: inset 0 -2px 0 0 rgb(var(--main)); }
		&.br-b-3px { box-shadow: inset 0 -3px 0 0 rgb(var(--main)); }
		&.br-l { box-shadow: inset 1px 0 0 0 rgb(var(--main)); }
	}
	
	.br-second {
		&.br-1px { box-shadow: inset 0 0 0 1px rgb(var(--second)); }
		&.br-2px { box-shadow: inset 0 0 0 2px rgb(var(--second)); }
		&.br-t { box-shadow: inset 0 1px 0 0 rgb(var(--second)); }
		&.br-r { box-shadow: inset -1px 0 0 0 rgb(var(--second)); }
		&.br-b { box-shadow: inset 0 -1px 0 0 rgb(var(--second)); }
		&.br-b-2px { box-shadow: inset 0 -2px 0 0 rgb(var(--second)); }
		&.br-b-3px { box-shadow: inset 0 -3px 0 0 rgb(var(--second)); }
		&.br-l { box-shadow: inset 1px 0 0 0 rgb(var(--second)); }
	}
	
	.br-grey {
		&.br-1px { box-shadow: inset 0 0 0 1px rgb(var(--grey)); }
		&.br-2px { box-shadow: inset 0 0 0 2px rgb(var(--grey)); }
		&.br-t { box-shadow: inset 0 1px 0 0 rgb(var(--grey)); }
		&.br-r { box-shadow: inset -1px 0 0 0 rgb(var(--grey)); }
		&.br-b { box-shadow: inset 0 -1px 0 0 rgb(var(--grey)); }
		&.br-b-2px { box-shadow: inset 0 -2px 0 0 rgb(var(--grey)); }
		&.br-b-3px { box-shadow: inset 0 -3px 0 0 rgb(var(--grey)); }
		&.br-l { box-shadow: inset 1px 0 0 0 rgb(var(--grey)); }
	}
	
	.br-light {
		&.br-1px { box-shadow: inset 0 0 0 1px rgb(var(--light)); }
		&.br-2px { box-shadow: inset 0 0 0 2px rgb(var(--light)); }
		&.br-t { box-shadow: inset 0 1px 0 0 rgb(var(--light)); }
		&.br-r { box-shadow: inset -1px 0 0 0 rgb(var(--light)); }
		&.br-b { box-shadow: inset 0 -1px 0 0 rgb(var(--light)); }
		&.br-b-2px { box-shadow: inset 0 -2px 0 0 rgb(var(--light)); }
		&.br-b-3px { box-shadow: inset 0 -3px 0 0 rgb(var(--light)); }
		&.br-l { box-shadow: inset 1px 0 0 0 rgb(var(--light)); }
	}
	
	.br-white {
		&.br-1px { box-shadow: inset 0 0 0 1px rgb(var(--white)); }
		&.br-2px { box-shadow: inset 0 0 0 2px rgb(var(--white)); }
		&.br-t { box-shadow: inset 0 1px 0 0 rgb(var(--white)); }
		&.br-r { box-shadow: inset -1px 0 0 0 rgb(var(--white)); }
		&.br-b { box-shadow: inset 0 -1px 0 0 rgb(var(--white)); }
		&.br-b-2px { box-shadow: inset 0 -2px 0 0 rgb(var(--white)); }
		&.br-b-3px { box-shadow: inset 0 -3px 0 0 rgb(var(--white)); }
		&.br-l { box-shadow: inset 1px 0 0 0 rgb(var(--white)); }
	}
	
	.br-red {
		&.br-1px { box-shadow: inset 0 0 0 1px red; }
		&.br-2px { box-shadow: inset 0 0 0 2px red; }
		&.br-t { box-shadow: inset 0 1px 0 0 red; }
		&.br-r { box-shadow: inset -1px 0 0 0 red; }
		&.br-b { box-shadow: inset 0 -1px 0 0 red; }
		&.br-b-2px { box-shadow: inset 0 -2px 0 0 red; }
		&.br-b-3px { box-shadow: inset 0 -3px 0 0 red; }
		&.br-l { box-shadow: inset 1px 0 0 0 red; }
	}
	
	// Border Grey transp
	.br-grey-transp-50 {
		&.br-1px { box-shadow: inset 0 0 0 1px rgba(var(--grey), 0.50); }
		&.br-2px { box-shadow: inset 0 0 0 2px rgba(var(--grey), 0.50); }
		&.br-t { box-shadow: inset 0 1px 0 0 rgba(var(--grey), 0.50); }
		&.br-r { box-shadow: inset -1px 0 0 0 rgba(var(--grey), 0.50); }
		&.br-b { box-shadow: inset 0 -1px 0 0 rgba(var(--grey), 0.50); }
		&.br-l { box-shadow: inset 1px 0 0 0 rgba(var(--grey), 0.50); }
	}
	
	.br-grey-transp-25 {
		&.br-1px { box-shadow: inset 0 0 0 1px rgba(var(--grey), 0.25); }
		&.br-2px { box-shadow: inset 0 0 0 2px rgba(var(--grey), 0.25); }
		&.br-t { box-shadow: inset 0 1px 0 0 rgba(var(--grey), 0.25); }
		&.br-r { box-shadow: inset -1px 0 0 0 rgba(var(--grey), 0.25); }
		&.br-b { box-shadow: inset 0 -1px 0 0 rgba(var(--grey), 0.25); }
		&.br-l { box-shadow: inset 1px 0 0 0 rgba(var(--grey), 0.25); }
	}
	
	.br-grey-transp-10 {
		&.br-1px { box-shadow: inset 0 0 0 1px rgba(var(--grey), 0.10); }
		&.br-2px { box-shadow: inset 0 0 0 2px rgba(var(--grey), 0.10); }
		&.br-t { box-shadow: inset 0 1px 0 0 rgba(var(--grey), 0.10); }
		&.br-r { box-shadow: inset -1px 0 0 0 rgba(var(--grey), 0.10); }
		&.br-b { box-shadow: inset 0 -1px 0 0 rgba(var(--grey), 0.10); }
		&.br-l { box-shadow: inset 1px 0 0 0 rgba(var(--grey), 0.10); }
	}
	
	// Border Black Transp - примеры для основных значений
	.br-black-transp-5 {
		&.br-1px { box-shadow: inset 0 0 0 1px rgba(var(--black), 0.05); }
		&.br-2px { box-shadow: inset 0 0 0 2px rgba(var(--black), 0.05); }
		&.br-t { box-shadow: inset 0 1px 0 0 rgba(var(--black), 0.05); }
		&.br-r { box-shadow: inset -1px 0 0 0 rgba(var(--black), 0.05); }
		&.br-b { box-shadow: inset 0 -1px 0 0 rgba(var(--black), 0.05); }
		&.br-l { box-shadow: inset 1px 0 0 0 rgba(var(--black), 0.05); }
	}
	
	.br-black-transp-10 {
		&.br-1px { box-shadow: inset 0 0 0 1px rgba(var(--black), 0.10); }
		&.br-2px { box-shadow: inset 0 0 0 2px rgba(var(--black), 0.10); }
		&.br-t { box-shadow: inset 0 1px 0 0 rgba(var(--black), 0.10); }
		&.br-r { box-shadow: inset -1px 0 0 0 rgba(var(--black), 0.10); }
		&.br-b { box-shadow: inset 0 -1px 0 0 rgba(var(--black), 0.10); }
		&.br-l { box-shadow: inset 1px 0 0 0 rgba(var(--black), 0.10); }
	}
	
	.br-black-transp-20 {
		&.br-1px { box-shadow: inset 0 0 0 1px rgba(var(--black), 0.20); }
		&.br-2px { box-shadow: inset 0 0 0 2px rgba(var(--black), 0.20); }
		&.br-t { box-shadow: inset 0 1px 0 0 rgba(var(--black), 0.20); }
		&.br-r { box-shadow: inset -1px 0 0 0 rgba(var(--black), 0.20); }
		&.br-b { box-shadow: inset 0 -1px 0 0 rgba(var(--black), 0.20); }
		&.br-l { box-shadow: inset 1px 0 0 0 rgba(var(--black), 0.20); }
	}
	
	.br-black-transp-50 {
		&.br-1px { box-shadow: inset 0 0 0 1px rgba(var(--black), 0.50); }
		&.br-2px { box-shadow: inset 0 0 0 2px rgba(var(--black), 0.50); }
		&.br-t { box-shadow: inset 0 1px 0 0 rgba(var(--black), 0.50); }
		&.br-r { box-shadow: inset -1px 0 0 0 rgba(var(--black), 0.50); }
		&.br-b { box-shadow: inset 0 -1px 0 0 rgba(var(--black), 0.50); }
		&.br-l { box-shadow: inset 1px 0 0 0 rgba(var(--black), 0.50); }
	}
	
	// Border White Transp - примеры для основных значений
	.br-white-transp-10 {
		&.br-1px { box-shadow: inset 0 0 0 1px rgba(var(--white), 0.10); }
		&.br-2px { box-shadow: inset 0 0 0 2px rgba(var(--white), 0.10); }
		&.br-t { box-shadow: inset 0 1px 0 0 rgba(var(--white), 0.10); }
		&.br-r { box-shadow: inset -1px 0 0 0 rgba(var(--white), 0.10); }
		&.br-b { box-shadow: inset 0 -1px 0 0 rgba(var(--white), 0.10); }
		&.br-l { box-shadow: inset 1px 0 0 0 rgba(var(--white), 0.10); }
	}
	
	.br-white-transp-20 {
		&.br-1px { box-shadow: inset 0 0 0 1px rgba(var(--white), 0.20); }
		&.br-2px { box-shadow: inset 0 0 0 2px rgba(var(--white), 0.20); }
		&.br-t { box-shadow: inset 0 1px 0 0 rgba(var(--white), 0.20); }
		&.br-r { box-shadow: inset -1px 0 0 0 rgba(var(--white), 0.20); }
		&.br-b { box-shadow: inset 0 -1px 0 0 rgba(var(--white), 0.20); }
		&.br-l { box-shadow: inset 1px 0 0 0 rgba(var(--white), 0.20); }
	}
	
	.br-white-transp-50 {
		&.br-1px { box-shadow: inset 0 0 0 1px rgba(var(--white), 0.50); }
		&.br-2px { box-shadow: inset 0 0 0 2px rgba(var(--white), 0.50); }
		&.br-t { box-shadow: inset 0 1px 0 0 rgba(var(--white), 0.50); }
		&.br-r { box-shadow: inset -1px 0 0 0 rgba(var(--white), 0.50); }
		&.br-b { box-shadow: inset 0 -1px 0 0 rgba(var(--white), 0.50); }
		&.br-l { box-shadow: inset 1px 0 0 0 rgba(var(--white), 0.50); }
	}
	
	/* Social media brand borders */
	.br-youtube {
		&.br-1px { box-shadow: inset 0 0 0 1px rgb(var(--youtube)); }
		&.br-2px { box-shadow: inset 0 0 0 2px rgb(var(--youtube)); }
		&.br-t { box-shadow: inset 0 1px 0 0 rgb(var(--youtube)); }
		&.br-r { box-shadow: inset -1px 0 0 0 rgb(var(--youtube)); }
		&.br-b { box-shadow: inset 0 -1px 0 0 rgb(var(--youtube)); }
		&.br-l { box-shadow: inset 1px 0 0 0 rgb(var(--youtube)); }
	}
	
	.br-telegram {
		&.br-1px { box-shadow: inset 0 0 0 1px rgb(var(--telegram)); }
		&.br-2px { box-shadow: inset 0 0 0 2px rgb(var(--telegram)); }
		&.br-t { box-shadow: inset 0 1px 0 0 rgb(var(--telegram)); }
		&.br-r { box-shadow: inset -1px 0 0 0 rgb(var(--telegram)); }
		&.br-b { box-shadow: inset 0 -1px 0 0 rgb(var(--telegram)); }
		&.br-l { box-shadow: inset 1px 0 0 0 rgb(var(--telegram)); }
	}
	
	.br-twitter {
		&.br-1px { box-shadow: inset 0 0 0 1px rgb(var(--twitter)); }
		&.br-2px { box-shadow: inset 0 0 0 2px rgb(var(--twitter)); }
		&.br-t { box-shadow: inset 0 1px 0 0 rgb(var(--twitter)); }
		&.br-r { box-shadow: inset -1px 0 0 0 rgb(var(--twitter)); }
		&.br-b { box-shadow: inset 0 -1px 0 0 rgb(var(--twitter)); }
		&.br-l { box-shadow: inset 1px 0 0 0 rgb(var(--twitter)); }
	}
	
	.br-reddit {
		&.br-1px { box-shadow: inset 0 0 0 1px rgb(var(--reddit)); }
		&.br-2px { box-shadow: inset 0 0 0 2px rgb(var(--reddit)); }
		&.br-t { box-shadow: inset 0 1px 0 0 rgb(var(--reddit)); }
		&.br-r { box-shadow: inset -1px 0 0 0 rgb(var(--reddit)); }
		&.br-b { box-shadow: inset 0 -1px 0 0 rgb(var(--reddit)); }
		&.br-l { box-shadow: inset 1px 0 0 0 rgb(var(--reddit)); }
	}
	
	.br-instagram {
		&.br-1px { box-shadow: inset 0 0 0 1px rgb(var(--instagram)); }
		&.br-2px { box-shadow: inset 0 0 0 2px rgb(var(--instagram)); }
		&.br-t { box-shadow: inset 0 1px 0 0 rgb(var(--instagram)); }
		&.br-r { box-shadow: inset -1px 0 0 0 rgb(var(--instagram)); }
		&.br-b { box-shadow: inset 0 -1px 0 0 rgb(var(--instagram)); }
		&.br-l { box-shadow: inset 1px 0 0 0 rgb(var(--instagram)); }
	}
	
	/* Inset borders - special case */
	.br-inset-2px-black { 
		box-shadow: inset 0 0 0 2px rgb(var(--black));
	}
	
	// Border anim
	.br-anim { 
		border: 1px dashed currentColor; 
		animation: dash-animation 1s linear infinite;
		box-shadow: none;
	}

	@keyframes dash-animation {
	  0% {
	    border-color-position: 0;
	  }
	  100% {
	    border-color-position: 20px;
	  }
	}

	// Glow effect
	.br-glow {
		position: relative;
		box-shadow: inset 0 0 0 2px rgb(var(--white)),
		           0px 0px 5px rgb(var(--white)), 
		           0px 0px 10px rgb(var(--white)), 
		           0px 0px 15px rgb(var(--white));
	}

	.br-glow-animation {
		animation: glow-animation 2s ease-in-out infinite;
	}

	@keyframes glow-animation {
    0%, 100% {
        box-shadow: inset 0 0 0 2px rgb(var(--white)),
                    0px 0px 5px rgba(var(--white), 0.5), 
                    0px 0px 10px rgba(var(--white), 0.5), 
                    0px 0px 15px rgba(var(--white), 0.5);
    }
	    50% {
	        box-shadow: inset 0 0 0 2px rgb(var(--white)),
	                    0px 0px 10px rgba(var(--white), 1), 
	                    0px 0px 20px rgba(var(--white), 1), 
	                    0px 0px 30px rgba(var(--white), 1);
	    }
	}

	// Pulse effect
	.br-pulse {
		position: relative;
		box-shadow: inset 0 0 0 2px #ffffff;
		
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			pointer-events: none;
			box-shadow: 0 0 0 0 #ffffff;
			animation: pulse 2s infinite;
		}
	}

	@keyframes pulse {
	  0% {
	    transform: scale(0.95);
	    box-shadow: 0 0 0 0 #ffffff;
	  }
	  70% {
	    transform: scale(1);
	    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
	  }
	  100% {
	    transform: scale(0.95);
	    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	  }
	}

	// Spin effect
	.br-spin {
		position: relative;
		
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			pointer-events: none;
			box-shadow: inset 0 0 0 2px #ffffff;
			animation: spin 2s linear infinite;
		}
	}

	@keyframes spin {
	  0% {
	    transform: rotate(0deg);
	  }
	  100% {
	    transform: rotate(360deg);
	  }
	}
}